<div id="requests" class="row">
  <div class="request-container card col-md-8">
    <h3 class="card-header">Requests</h3>
    <div class="card-body">
      <%= render partial: "requests/list" %>
      <small class="text-muted">
        Showing all pending requests and filled requests &lt;<%= @requests_cutoff_days %> days old.
        <%= link_to "History", :requests %>
      </small>
    </div>
  </div>
  <div id="new_request_form" class="card col-md-4 request-container">
    <h3 class="card-header">Request something</h3>
    <div class="card-body">
      <%= render partial: "requests/form", locals: { request: @request } %>
    </div>
  </div>
</div>

<div id="issues" class="row">
  <div class="col-md-8 card issue-container">
    <h3 class="card-header">Issues</h3>
    <div class="card-body">
      <%= render partial: "issues/list" %>
    </div>
  </div>
  <div id="new_issue_form" class="card col-md-4 issue-container">
    <h3 class="card-header">Complain here</h3>
    <div class="card-body">
      <%= render partial: "issues/form", locals: { issue: @issue } %>
    </div>
  </div>
</div>
