<div class="card col-md-12">
  <h3 class="card-header"><%= issue.title %></h3>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Reported by</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="<%= issue.status %>"><%= issue.status %></td>
            <td><%= time_ago_in_words issue.created_at %></td>
            <td><%= pretty_email issue.user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p><%= issue.notes %></p>
    <% if user_signed_in? && current_user.admin? %>
      <div>
        <%= link_to "Edit this issue", edit_issue_path(issue) %> |
        <%= link_to "Back to issues", issues_path %>
        <%= button_to "Destroy this issue", issue, method: :delete, class: "btn btn-outline-primary" %>
      </div>
    <% end %>
  </div>
</div>
