<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div class="alert">
      <h2><%= pluralize(request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control" %>
    <small id="notesHelp" class="form-text text-muted">Provide any relevant details like a show's season, or a movies year if it's a remake, etc.</small>
  </div>

  <div class="field form-group">
    <%= form.select :media_type, ["tv", "movie"], {}, {selected: "tv", class: "form-select"} %>
  </div>

  <div class="actions form-group">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
