<%= form_with model: request do |form| %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :media_type %>
    <%= form.select :media_type, ["tv", "movie"], {}, {selected: @request.media_type, class: "form-control"} %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :status %>
    <%= form.select :status, ["pending", "filled", "wontfill"], {}, {selected: @request.status, class: "form-select"} %>
  </div>

  <div class="actions form-group">
    <%= form.submit(class: "btn btn-primary") %>
  </div>
<% end %>
