<%= form_with(
    model: request,
    url: requests_path,
) do |form| %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.select :media_type, ["tv", "movie"], {}, {selected: "tv", class: "form-control"} %>
  </div>

  <div class="actions form-group">
    <%= form.submit(class: "form-control") %>
  </div>
<% end %>
