<ul class="list-group list-group-flush">
  <% @requests.each do |request| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-9">
          <span class="title"><%= request.title %></span>
          (<%= request.media_type %>)
          (<span class="<%= request.status %>"><%= request.status %></span>)
          <p class="notes"><%= request.notes %></p>
        </div>
        <% if signed_in?(:admin) %>
        <div class="col-md-3">
          <%= link_to "edit", edit_request_path(request) %>
          <%= link_to "delete", request_path(request), data: { turbo_method: :delete } %>
        </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
