<div class="request-container card col-md-12">
  <h3 class="card-header"><%= request.title %> (<%= request.media_type %>)</h3>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Requestor</th>
            <th scope="col">Requested</th>
            <th scope="col">Updated</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="<%= request.status %>"><%= request.status %></td>
            <td><%= pretty_email request.user.email %></td>
            <td><%= time_ago_in_words request.created_at %> ago</td>
            <td><%= time_ago_in_words request.updated_at %> ago</td>
            <td><%= request.notes %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <div>
        <%= link_to "Edit", edit_request_path(@request) %> |
        <%= link_to "Show", request_path(request) %> |
        <%= link_to "Destroy this request", @request, data: { turbo_method: :delete } %>
      </div>
    <% end %>
  </div>
</div>
