<div id="<%= dom_id request %>">
  <p>
    <strong>Title:</strong>
    <%= request.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= request.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

  <br>

  <p>
    <strong>Created at:</strong>
    <%= request.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= request.updated_at %>
  </p>

</div>
